
@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Josefin+Sans:ital,wght@1,200&family=Kanit:ital,wght@1,100&family=Lato:wght@300;700&family=Lobster&family=Prompt:ital,wght@1,100&family=Tiro+Gurmukhi&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    background-color:  #fbfbfb;
    font-family: "Lato", sans-serif; 
    font-weight: bold;
    color: #0f0f0f;
    font-size:  18px;
    line-height: 1.2;
    max-width: 100%;
}

main {
    max-width: 1200px;
    margin: auto;
    padding-top: 100px;
}

.logo{
    width: 120px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 16px;
    border-bottom: 1px solid black;
    background-color: #fbfbfb;
    box-shadow: 0 3px 10px -5px #5f5f5f;
}

#menu-principal{
    list-style: none;
    display: flex;    
    font-size: 20px;
}

.menu-item a {
    text-decoration: none;
    padding: 20px
}

.menu-item a:hover {
    background-color: #e7bee0;
}

nav{
    display: none;
}

li.menu-item:hover,
li.menu-item.active {
    background: rgba(175, 89, 158, 0.3);
    transition: background-color 0.3s;
}

#menu-button{
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 26px;
    width: 40px;
    height: 40px;
}

img#close-menu{
    display: none;
}

body.mobile-menu-active {
	overflow: hidden;
}

body.mobile-menu-active img#close-menu {
	display: block;
}

body.mobile-menu-active img#open-menu {
	display: none;
}

body.mobile-menu-active header {
	height: 100vh;
	flex-wrap: wrap;
	align-items: flex-start;
	transition: height 0.3s;
}

body.mobile-menu-active nav {
	display: block;
	width: 100%;
	height: 50%;
}

body.mobile-menu-active ul#menu-principal {
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 100%;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    scroll-margin-top: 100px;
    min-height: 100%;
}

ul {
    list-style: none;
}

img{
    max-width: 100%;
}

.autofoto{
    /*width: 400px;*/
    width: 300px;
    border-radius: 80%;
    margin: 10px;
    /*margin: 40px;*/
}

#inicio{
    padding: 16px;
}


h1{
    display: flex;
    justify-content: center;
    /*font-size:  48px;*/
    font-size: 36px;
}

p{
    padding-top: 20px;
    padding-bottom: 20px;  
}

#button{
    font-size: 20px;
    background-color:  #af599e;
    color: #fbfbfb;
    padding: 12px;
    border-radius: 50px;
    display: inline-block;
}

a {
    text-decoration: none;
    color: inherit;
}

#contacto p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

ul#contact-links {
    display: flex;
    margin-top: 20px;
}

ul#contact-links li {
    margin: 16px;
    padding: 8px;
    border-radius: 4px;
}

.logos a :hover{
    background-color: #e7bee0;
}

#hablemos{
    text-align: center;
    padding: 30px;
    border-radius: 15px;
    background-color:  #e7bee0;
    /*width: 100vh;*/
    width: 90%;
    /*margin: 0%;*/
}

h2{
    /*font-size: 32px;*/
    font-size: 28px;
    text-align: center;
}

.parrafo-2{
    text-align: center;
}


footer{
    background-color:  #af599e;
    color: #fbfbfb;
    padding: 3%;
    text-align: center;
}
        
@media (min-width: 1024px) {
    section{
        flex-direction: row;
        align-items: center;
        min-height: 100vh;
    }

    #presentacion{
        width: 50%;
    }

    #contacto{
    flex-direction: column;  
    }
    
    
    .autofoto{
        width: 400px;
        margin: 40px;
    }

    h1{
        font-size:  48px;
    }

    ul#contact-links li {
        margin: 32px;
        width: 100px;
    }

    #hablemos{
        width: 70%;
        margin: 0%;
    }

    h2{
        font-size: 32px;
    }

    #menu-button {
        display: none;
    }

    nav {
        display: block;
    }

    body.mobile-menu-active header {
		height: 90px;
		align-items: center;
	}
	body.mobile-menu-active nav {
		height: auto;
		width: auto;
	}

	body.mobile-menu-active ul#menu {
		flex-direction: row;
	}

}
